.outer{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 15px;
   
    border:2px solid rgb(209, 207, 207);
    // height:70vh;
    border-radius:10px
  }
  .designEmail
  {
    width: 100%;
  }
  
  .Spacesforbutton 
  {
    // width: 80%;
    margin-top: 30px;
    font-size: medium;
  
  }
  .buttonStyleforCreate
  {
    // padding-left: 30px;
    border: 0px;
    color: blue;
    font-size: medium;
    background-color: transparent;
     
  }
  .buttonStyleforNext
  {
    border: 0px;
    color: white;
    background-color: blue;
    height: 40px;width: 100px;
    border-radius: 6px;
     margin-left:20px ;
  
  }
  .buttonStyleForForgot
  {
    border: 0px;
    
    color: blue;
    font-size: small;
    background-color: transparent;
   
  }
  .note{
    color: blue;
    // padding: 10px;
  }
  .learn{
    color: blue;
    align-items: center;
  }
  .label{
    width:100%
  }
  .class{
    width: 80%;
  }
  .class1{
    width:50%;
    margin-top: 10px;
    padding: 0px;
    padding-bottom: 20px;
    padding-top: 20px;
  }