<div class="note">

    <div fxLayout="row" fxLayoutAlign="space-between center">
      <input class="mat-title" placeholder="Title" matInput mat-dialog-title [(ngModel)]="title"  >
    </div>
  
    <div fxLayout="row" fxLayoutAlign="space-between center">
        <input class="mat-title" placeholder="Description" matInput mat-dialog-title  [(ngModel)]="description">
    </div>
    <app-icons [notedata]="data" (updateEvent)="autoref($event)"></app-icons>
   <button class="button" (click)="onNoClick()">Close</button>
  </div>
