.borderStyle{
    display: flex;
    flex-direction: column;
    align-items:centre;
    border: 1px solid gray;
    width: 35%;
    border-radius: 6px;
   // margin: auto;
     margin-top: 60px;
    // margin-left: 30px;
    padding: 50px;
    // padding-top: 50px;
    // padding-bottom: 100px;
    height: 50%;
    //margin-left: 50px;
    display: flex;
    justify-content: center
   
  }
.designEmailreset
{
  width: 80%;
  margin-left: 10%;
}
.buttonStyleforNext
    {
      border: 0px;
      color: white;
      margin-left: 290px;
      background-color: blue;
      height: 40px;width: 100px;
      border-radius: 6px;
      margin-top: 30px;
    }
    .title{
        display: flex;
        justify-content: center;
    font-size: xx-large;
    }
    .title2{
      display: flex;
      justify-content: center;
    }