<div fxLayout="column" fxLayoutAlign="space-between center">
    <div class="borderStyle" fxLayout="column" fxLayoutAlign="space-between left" fxClass-xs="column">
        <form [formGroup]="ResetPasswordForm " (ngSubmit)="onSubmit()">
            <h1 class="title">
                <span style="color: blue;padding-left: 1px;">F</span>
                <span style="color: red;">u</span>
                <span style="color: orange;">n</span>
                <span style="color: blue;">d</span>
                <span style="color: green;">o</span>
                <span style="color: red;">o</span>
            </h1>
            <h2 class="title2">Reset Password</h2>
            <!-- <h3 style="padding-left: 90px;" class="title3">Enter your phone number or recovery email</h3> -->
            <div fxLayout="column" fxLayoutAlign="stretch">
                <mat-form-field class="designEmailreset" appearance="outline">
                    <mat-label>Enter new password</mat-label>
                    <input matInput placeholder="Phone Number Or Email" formControlName="password">
                    <mat-error>Enter new password</mat-error>
                </mat-form-field>
                <mat-form-field class="designEmailreset" appearance="outline">
                    <mat-label>Confirm password</mat-label>
                    <input matInput placeholder="Phone Number Or Email" formControlName="confirmpassword">
                    <mat-error>Confirm password</mat-error>
                </mat-form-field>
            </div>
            <button mat-button class="buttonStyleforNext">Next</button> 
            </form>  
    </div>
</div>
