<div class="icon" >
    <div *ngIf="!isTrashComponent" fxLayout="row" style="width: 250px;">
        <div  class="icons"  mat-icon-button matTooltip="Remind me"> <img src="../../../../assets/add_alert_FILL0_wght400_GRAD0_opsz48.svg" width="20px"
                height="20px"></div>

        <div  class="icons"  mat-icon-button matTooltip="Collaborator"> <img src="../../../../assets/person_add_FILL0_wght400_GRAD0_opsz48.svg"
                width="20px" height="20px"></div>
                
                <div class="imageSetting">
                    <div class="icons" mat-button [matMenuTriggerFor]="background_color" style="border: 0px;background-color:transparent" matTooltip="bgcolor"><img src="../../../../assets/palette_FILL0_wght400_GRAD0_opsz48.svg"></div>
                    <mat-menu #background_color="matMenu" >
                        <div class="icn">
                            <div *ngFor="let color of colorArray" class="pallete">
                                <button class="icons" mat-raised-button [matTooltip]="color.name" [style.background]="color?.name" (click)="changeColor(color?.name)"></button>
                            </div>
                        </div>                         
                    </mat-menu>
                </div>

        <div  class="icons"  mat-icon-button matTooltip="add image"> <img src="../../../../assets/image_FILL0_wght400_GRAD0_opsz48.svg" alt="image" width="20px"
                height="20px"></div>
        <div  class="icons" *ngIf="isDisplayComponent">
            <div class="archive" mat-icon-button matTooltip="Archive" (click)="archieve()"> <img
                    src="../../../../assets/archive_FILL0_wght400_GRAD0_opsz48.svg" width="20px" height="20px"></div>
        </div>
        <div  class="icons"  *ngIf="isArchieveComponent">
            <div mat-icon-button matTooltip="Unarchive" (click)="archieve();" *ngIf="isArchieveComponent">
                <img src="../../../../assets/unarchive_FILL0_wght400_GRAD0_opsz48.svg" width="20px" height="20px"></div>
        </div>
        <div  class="icons"  class="more" mat-icon-button matTooltip="More" [matMenuTriggerFor]="menu"><img
                src="../../../../assets/more_vert_FILL0_wght400_GRAD0_opsz48.svg" width="20px" height="20px"></div>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="trash()">Delete note</button>
            <button mat-menu-item>Change labels</button>
            <button mat-menu-item>Add drawing</button>
            <button mat-menu-item>Make a copy</button>
            <button mat-menu-item>Show checkboxes</button>
            <button mat-menu-item>Copy to google Docs</button>
        </mat-menu>

    </div>
    <div class="flex" *ngIf="isTrashComponent">
        <div  class="icons"  mat-icon-button matTooltip="Delete Forever" (click)="delete()"> <img
                src="../../../../assets/delete_FILL0_wght400_GRAD0_opsz48.svg" width="25px" height="25px"></div>
        <div  class="icons"  mat-icon-button matTooltip="Restore" (click)="restore()"> <img
                src="../../../../assets/restore_from_trash_FILL0_wght400_GRAD0_opsz48.svg" width="25px" height="25px"></div>
    </div>
</div>


