<div fxLayout="row" fxLayoutAlign="center center">
    <div class="borderStyle" fxLayout.xs="column" ngClass.xs="xssize"  ngClass.sm="xssize1" fxLayoutAlign="center center">
        <div  fxLayout="column">
            <form [formGroup]="registerForm " (ngSubmit)="onSubmit()">
                <h1>
                    <span style="color: blue;">F</span>
                    <span style="color: red;">u</span>
                    <span style="color: orange;">n</span>
                    <span style="color: blue;">d</span>
                    <span style="color: green;">o</span>
                    <span style="color: red;">o</span>
                </h1>
                <div>
                    <p class="buttonStyle1">Create your Fundoo
                        Account</p>
                </div>
                <div class="Spaces" fxClass-xs="column" >
                    <div fxLayout.xs="column">
                        <mat-form-field appearance="outline">
                            <mat-label>First name</mat-label>
                            <input matInput placeholder="First name" formControlName="firstName">
                            <mat-error>Enter valid first name</mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label >Last name</mat-label>
                            <input matInput placeholder="Last name" formControlName="lastName">
                            <mat-error>Enter valid last name</mat-error>
                        </mat-form-field>
                    </div>
                </div>

                <div fxLayout="column" fxLayoutAlign="stretch">
                    <mat-form-field class="widthforBox" appearance="outline">
                        <mat-label>Username</mat-label>
                        <input matInput placeholder="Email" formControlName="email">
                        <mat-error>Enter valid Email id</mat-error>
                        <mat-hint style="font-size: small;">You can use letters,numbers & periods</mat-hint>
                    </mat-form-field>
                </div>

                <div fxClass-xs="column" ngClass.xs="fxClass-xs">
                    <button mat-button class="buttonStyle" style="margin-top: 37px;">Use my current email address
                        instead
                    </button>
                </div>
                <div fxClass-xs="column" ngClass.xs="fxClass-xs" >
                    <div fxLayout="row" class="Spaces" fxLayout.xs="column">
                        <mat-form-field appearance="outline" fxLayout.xs="column">
                            <mat-label>Password</mat-label>
                            <input matInput placeholder="Password" formControlName="password">
                            <mat-error>Enter valid password</mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline" fxLayout.gt-sm="50%">
                            <mat-label>Confirm</mat-label>
                            <input matInput type="password" placeholder="Confirm password" formControlName="confirmPassword">
                            <mat-error>Password not match</mat-error>
                        </mat-form-field>
                    
                    </div>
                    <mat-hint class="wording">Use 8 or more characters with a mix of letters,
                        numbers & symbols </mat-hint>
                    <div class="ShowCheckbox">
                        <input type="checkbox" >Show password
                        <!-- <mat-checkbox type="checkbox" style="margin-top: 20px;" (click)="passChange();">Show password</mat-checkbox> -->
                    </div>
                    <div class="Spacesforbutton" fxLayout="row" fxLayoutAlign="space-between center">
                        <button fxLayout="row" fxLayoutAlign="start center" class="buttonStyle" routerLink="/login">Sign in instead</button>

                        <button mat-button class="buttonStyleforNext" >Next</button>
                      
                    </div>
                </div>
            </form>
        </div>
    
        <div fxLayout="column" fxLayoutAlign="center center"  class="account" fxHide.xs="true" fxHide.sm="true" >
    
            <img   src="../../../assets/account.svg">
            <mat-hint  >One account. All of Fundoo</mat-hint>
            <mat-hint  > Working for you</mat-hint>
        </div>
    
    </div>
</div>