<div class="container" fxLayout="column" fxLayoutAlign="space-between center">
    <div class="note" style="border: 2px solid rgb(227, 222, 222); width:40%">
        <div *ngIf="isShow" fxLayout="row">
            <input class="title" style="width:99%;" placeholder="Title"[(ngModel)]="title" >
             <img src="../../../../assets/push_pin_black_24dp.svg" alt="pin">
             
        </div>

        <div *ngIf="!isShow || isShow" (click)="show()">
            <input class="takenote" style="width: 99%;" placeholder="Take a note ..."[(ngModel)]="description" >
        </div>
        <div class="flex" *ngIf="isShow" fxLayout="row">
            <div class="flex" fxLayout="row" fxLayoutAlign="space-between center">
                <app-icons></app-icons>
                <button class="close" (click)="close()">Close</button>
            </div>
        </div>
    </div>
    
